@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1>3ngIn33rs</h1>

@if (@Model.Count == 0)
{
  <h3>nerp! go ask bobbi the robot.</h3>
} 
  @foreach(Engineer e in Model)
  {
    <li>@Html.ActionLink($"{e.Name}", "Details", new { id = e.EngineerId })</li>
  }
<ul>
</ul>
<p>@Html.ActionLink("ask bobbi", "Create")</p>
<p>@Html.ActionLink("back", "Index", "Home")</p>